{{>header}}
<body>
    {{>navbar}}
    <center><h1>Blogs</h1></center>
    <center><h3>Welcome {{name}}!!</h3></center>
    <div class="card-columns mx-5 p-5">
        <div class="card card-style">
            <div class="card-body" style="background-image: url('/img/card1.jpg'); background-size:cover">
                <h4 class="card-title">New satellite will able to see 'X-ray rainbow' from huge objects in space</h4>
                <p class="card-text">We'll soon get sharper vision on cosmic X-rays.<br>A new satellite aims to study huge objects in the universe, using instruments able to measure the heat of a single X-ray photon. The X-ray Imaging and Spectroscopy Mission (XRISM — pronounced "crism") will analyze X-rays using the widest field-of-view instrument ever implemented in this kind of imaging probe. </p>
            </div>
        </div>
        <div class="card card-style" style="background-image: url('/img/card2.jpg'); background-size:cover">
            <div class="card-body">
                <h4 class="card-title">UK spaceport unearths a Bronze Age surprise ahead of 1st rocket launches this year</h4>
                <p class="card-text">Shiny quartz, giant granite stones and a possible cremation came to light during a dig at the new SaxaVord Spaceport readying for rocket launches on the United Kingdom's northernmost island.</p>
            </div>
        </div>
        <div class="card card-style" style="background-image: url('/img/card3.jpg'); background-size:cover">
            <div class="card-body">
                <h4 class="card-title">Moon mining gains momentum as private companies plan for a lunar economy</h4>
                <p class="card-text">GOLDEN, Colorado - The pace is quickening for using Earth's moon as a near-term, go-to location to land on, live and explore.<br>As NASA's Artemis Program moves forward, so too do long-term plans by small and large firms, academia, along with international space agencies.</p>
            </div>
        </div>
        <div class="card card-style" style="background-image: url('/img/card4.jpg'); background-size:cover">
            <div class="card-body">
                <h4 class="card-title">On This Day In Space: July 30, 1610: Galileo sees Saturn's rings for the first time</h4>
                <p class="card-text">On July 30, 1610, the famous astronomer Galileo Galilei became the first to observe rings around the planet Saturn. <br>Shortly after the telescope was invented in 1608, Galileo peered out into the solar system and saw the amazing ring system. At first, he didn't actually think they were rings. <br>Instead, Galileo thought Saturn might have planetary "love handles" that gave it a weird shape. He also wondered if perhaps he was looking at two very large moons on either side of the planet.</p>
            </div>
        </div>
        <div class="card card-style" style="background-image: url('/img/card5.jpg'); background-size:cover">
            <div class="card-body">
                <h4 class="card-title">Could Earth ever become a rogue planet?</h4>
                <p class="card-text">In about 5 billion years, the sun will die. <br>But as it ages, it will get brighter and hotter, and by about 500 million years from now, our star will have heated Earth beyond redemption. But is there any way to save our planet from its disastrous demise? </p>
            </div>
        </div>
        <div class="card card-style" style="background-image: url('/img/card6.jpg'); background-size:cover">
            <div class="card-body">
                <h4 class="card-title">Watch Rocket Lab launch Earth-observing radar satellite</h4>
                <p class="card-text">Rocket Lab will launch an Earth-observing radar satellite for the company Capella Space early Sunday morning (July 30), and you can watch the action live.<br>An Electron rocket carrying one of Capella Space's "Acadia" satellites is scheduled to lift off from Rocket Lab's New Zealand site Sunday during a two-hour window that opens at 3 a.m. EDT (0700 GMT; 7 p.m. local New Zealand time).</p>
            </div>
        </div>
    </div>
    {{>footer}}
    {{>scripts}}
</body>