{{>header}}
<body>
    {{>navbar}}
    <div class="container rounded p-sm-5 mt-5 d-flex flex-row bg-set">
        <div class="left-pane container d-flex flex-column">
            <img src="img/rocket1.png" class="vert-move" alt="Rocket">
            <a href="#" class="m-5" style="color: darkturquoise; font-size: 40px">Welcome to SignMeUpNow!!</a><br>
        </div>
        <div class="right-pane container-fluid d-flex flex-column login">
            <form action="/blog" method="post">
                <div class="form-row">
                    <input type="text" name="email" id="email" placeholder="Email" size="30">
                </div>
                <div class="form-row">
                    <input type="text" name="password" id="password" placeholder="Password"size="30">
                </div>
                <button type="submit">Login</button>
            </form>
        </div>

    </div>
    {{>footer}}
    {{>scripts}}
</body>
