<footer class="bg-set">
    <p class="float-right fix-bottom ft">
        <a href="#" style="color: white">TOP</a>
    </p>
    <p class="ft" style="color: white;">
        Made By: Tiju Lukose
    </p>
</footer>